In [4]:
import numpy as np
import pandas as pd

In [45]:
df=pd.read_csv("IRIS.csv")

In [46]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [50]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [51]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [152]:
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder,PolynomialFeatures
from sklearn.model_selection import train_test_split

In [155]:
X=df.iloc[:,0:4]
y=df.iloc[:,[4]]
oe=OneHotEncoder()
oe.fit(y)
y=oe.transform(y).toarray()
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [156]:
ss=StandardScaler()
pf=PolynomialFeatures(degree=2)
X_train=pf.fit_transform(X_train)
X_test=pf.transform(X_test)
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [60]:
y.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [148]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.losses import CategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import Accuracy

In [166]:
model=Sequential()
model.add(Dense(10,activation='relu',kernel_initializer="random_normal"))
model.add(Dense(5,activation='relu',kernel_initializer="random_normal"))
model.add(Dense(3,activation='sigmoid'))

In [167]:
model.compile(loss=CategoricalCrossentropy(),metrics=['accuracy'],optimizer=Adam())

In [168]:
model.fit(X_train,y_train,epochs=25)

Epoch 1/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0985 - accuracy: 0.1833
Epoch 2/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0950 - accuracy: 0.4000
Epoch 3/25
4/4 [==============================] - 0s 1ms/step - loss: 1.0919 - accuracy: 0.4667
Epoch 4/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0859 - accuracy: 0.7667
Epoch 5/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0788 - accuracy: 0.7750
Epoch 6/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0714 - accuracy: 0.7583
Epoch 7/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0640 - accuracy: 0.7583
Epoch 8/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0559 - accuracy: 0.7500
Epoch 9/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0469 - accuracy: 0.7667
Epoch 10/25
4/4 [==============================] - 0s 1ms/step - loss: 1.0373 - accuracy: 0.7750
Epoch 11/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0267 - accuracy: 0.7750
Epoch 12/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0155 - accuracy: 0.7917
Epoch 13/25
4/4 [==============================] - 0s 2ms/step - loss: 1.0030 - accuracy: 0.8000
Epoch 14/25
4/4 [==============================] - 0s 2ms/step - loss: 0.9894 - accuracy: 0.8083
Epoch 15/25
4/4 [==============================] - 0s 2ms/step - loss: 0.9750 - accuracy: 0.8167
Epoch 16/25
4/4 [==============================] - 0s 2ms/step - loss: 0.9604 - accuracy: 0.8167
Epoch 17/25
4/4 [==============================] - 0s 1ms/step - loss: 0.9437 - accuracy: 0.8167
Epoch 18/25
4/4 [==============================] - 0s 2ms/step - loss: 0.9284 - accuracy: 0.8333
Epoch 19/25
4/4 [==============================] - 0s 1ms/step - loss: 0.9108 - accuracy: 0.8417
Epoch 20/25
4/4 [==============================] - 0s 2ms/step - loss: 0.8941 - accuracy: 0.8500
Epoch 21/25
4/4 [==============================] - 0s 1ms/step - loss: 0.8759 - accuracy: 0.8583
Epoch 22/25
4/4 [==============================] - 0s 2ms/step - loss: 0.8577 - accuracy: 0.8750
Epoch 23/25
4/4 [==============================] - 0s 2ms/step - loss: 0.8402 - accuracy: 0.8833
Epoch 24/25
4/4 [==============================] - 0s 2ms/step - loss: 0.8228 - accuracy: 0.8833
Epoch 25/25
4/4 [==============================] - 0s 2ms/step - loss: 0.8051 - accuracy: 0.8833

In [183]:
y_pred=np.array(model.predict(X_test))

In [172]:
model.evaluate(X_test,y_test)

1/1 [==============================] - 0s 324ms/step - loss: 0.8054 - accuracy: 0.9000

[0.805402398109436, 0.8999999761581421]

In [182]:
ma=y_pred.max(axis=1)

In [194]:
y_pred.argmax(axis=1)

array([0, 2, 2, 0, 0, 2, 0, 2, 0, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 0, 0,
       2, 2, 2, 2, 1, 0, 0, 0], dtype=int64)

In [195]:
y_test.argmax(axis=1)

array([0, 2, 2, 0, 0, 2, 0, 2, 0, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 0, 0,
       2, 2, 2, 2, 1, 1, 0, 0], dtype=int64)

# Accuracy achieved=88 percent